.row{
    align-items: center;
    justify-content: center;
}

.perfil{
    border-radius: 10px;
    width: min(60vw, 350px);
    height: min(60vw, 350px);
    
}

.div-imagen{
    text-align: center;
    width:  min(80vw, 450px);
    height: min(80vw, 450px);
}
.div-imagen:hover{
    
    rotate: 2deg;
}

.portada{
    height: 100vh;
    background-size:cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    background-color: var(--color-primario);
    background-blend-mode:darken;
}
