

    <div class="row portada" style="background-image: url(../../../assets/1-2.jpg);">
            
            <div class="col-auto">
                <div class="div-imagen mt-5 p-5 glass flotar">
                    <img class="blur perfil" src="../../../assets/zyro-image (1).png" alt="">
                </div>
            </div>
           
            <div class="col-auto col-xl-6 p-5 ">
                <h1 class="aparecer">Carlos Sebastian Lorenzo</h1>
                <h2>Full Stack Developer Jr.</h2>
                <p>Entusiasta estudiante de Argentina Programa y ferviente suscriptor de TodoCode, donde, siempre acompañado por un buen mate, he incursionado en distintos lenguajes de programación, frameworks, herramientas y buenas prácticas como</p>
            </div>
        
    </div>

