<div class="mh-skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="skills">
          <div class="proffessional-skill">
            <h1>Habilidades Profesionales</h1>
            <div
              class="cada habilidad"
              *ngFor="let habilidad of mishabilidades"
            >
              <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">{{ habilidad.nombre }}</div>
                    <div class="percentage-num">
                      {{ habilidad.porcentaje }}%
                    </div>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        style="width:{{ habilidad.porcentaje }}%">
                        {{ habilidad.porcentaje }}%
                      </div>
                    </div>
                    <button type="button" class="btn btn-danger" (click)="onDelete(habilidad.id)">x</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="proffessional-skill">
          <h3>Professional Skills</h3>
          <ul class="mh-professional-progress">
            <li>
              <div
                class="mh-progress mh-progress-circle"
                data-progress="95"
              ></div>
              <div class="pr-skill-name">Comunicación</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
