<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 d-inline text-center">
      <h3>Habilidades Profesionales</h3>
      
      <button
      type="button"
      class="btn btn-primary"
      (click)="nuevaHabilidad()"
      >
      Agregar Habilidad
    </button>
      <div  *ngFor="let habilidad of mishabilidades">
        <div class="nome">{{ habilidad.nombre}}</div>
        <div class="progress">
          <div
            class="progress-bar"
            [style.width]="habilidad.porcentaje+'%'"
          >
            {{ habilidad.porcentaje }}%
          </div>
        </div>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDelete(habilidad.id)"
        >
          x
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="openModal(habilidad)"
          >
          x
        </button>
      </div>
    </div>
    <!--SOFT SKILLS-->
    <div class="col-sm-12 col-md-6 d-inline text-center mx-auto">
      <h3>Habilidades Sociales</h3>
      <div class="cada habilidad" *ngFor="let habilidad of mishabilidades">
        <div class="nome">{{ habilidad.nombre }}</div>
        <div
          class="progress mx-auto"
          style="width: 140px; height: 140px; border-radius: 50%; transform: rotatez(270deg);"
        >
          <div
            class="progress-bar"
            [style.width]="habilidad.porcentaje+'%'"
          >
          <h5 style="transform: rotatez(90deg); z-index: 1; color:azure">{{ habilidad.porcentaje }}%</h5>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDelete(habilidad.id)"
        >
          x
        </button>

        <circle-progress
          [percent]="habilidad.porcentaje"
          [radius]="80"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="6"
          [outerStrokeColor]="'#21314598'"
          [outerStrokeGradientStopColor]="'#99999999'"
          [innerStrokeColor]="'#21314566'"
          [outerStrokeGradient] = true
          [animation]="true"
          [animationDuration]="800"
          [animateTitle] = true
          [animateSubtitle]= true
          [showSubtitle]=true
          
        ></circle-progress>
      </div>
    </div>
  </div>
          <!--MODAL-->
        <div *ngFor="let habilidad of habilidadesmodal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content glass">
              <div class="modal-header shine">
                <h5 class="modal-title" id="exampleModalLabel">Editar Habilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <form [formGroup]="formulario" (ngSubmit)="onChange($event)" >
              <div class="modal-body">
                  <input  type="hidden"
                          class="form-control"
                          name="id"
                          id="id"
                          formControlName="id"
                          [ngModel]="habilidad.id"
                          >
                  <div class="mb-3">
                    <label for="nombre" class="col-form-label">Nombre</label>
                    <input  type="text"
                            class="form-control"
                            name="nombre"
                            id="nombre"
                            formControlName="nombre"
                            [ngModel]="habilidad.nombre"
                            >
                  </div>
                  <div class="mb-3">
                    <label for="imagen" class="col-form-label">Imagen</label>
                    <input  type="text"
                            class="form-control"
                            name="imagen"
                            id="imagen"
                            formControlName="imagen"
                            ngModel="{{habilidad.imagen}}">
                  </div>
                  <div class="mb-3">
                    <label for="porcentaje" class="col-form-label">Porcentaje</label>
                    <input  type="range"
                            class="form-range"
                            min="0" max="100" step="5"
                            name="porcentaje"
                            id="porcentaje"
                            formControlName="porcentaje"
                            [ngModel]="habilidad.porcentaje">
                  </div>
              </div>
              <div class="modal-footer shine">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button
                type="submit"
                class="btn glass"
                data-bs-dismiss="modal"
                >
                Enviar
                </button>
              </div>
                </form>
            </div>
          </div>
        </div>
        
</div>
