<div class="blur pepe ">
<div class="bg-{{modo}} text-bg-{{modo}}">

<app-navbar></app-navbar>
<section id="acercaDe">
<app-acerca-de></app-acerca-de>
</section>
<section id="experiencia">
<app-experiencia></app-experiencia>
</section>
<section id="educacion">
<app-educacion></app-educacion>
</section>
<section id="habilidades">
<app-habilidades></app-habilidades>
</section>
<section id="proyectos">
<app-proyectos></app-proyectos>
</section>
<button type="button" class="btn glass btn-{{cambiar}}" (click)="darkmode()">{{cambiar}}</button>

</div>
</div>