.pantallacompleta{
    width:100vw;
    height:100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
    overflow-x: hidden;
}
section{
    justify-content: center;
    width: 100vw;
/*    height: 100vh;*/
    scroll-snap-align: start;
}