<div class="blur pantallacompleta">
<div class="bg-{{modo}} text-bg-{{modo}}">
    
<app-navbar>
</app-navbar>
<section id="acercaDe">
    <app-acerca-de></app-acerca-de>
</section>
<section id="experiencia">
<app-experiencia></app-experiencia>
</section>
<section id="educacion">
<app-educacion></app-educacion>
</section>
<section id="habilidades">
<app-habilidades></app-habilidades>
</section>
<section id="proyectos">
<app-proyectos></app-proyectos>
</section>
<section id="contacto">
<app-contacto></app-contacto>
</section>
<section>
    <app-footer></app-footer>
</section>

</div>
</div>