<div class="contain">
  <div class="row pb-4 blur">
    <div class="flotar">
      <h1 class="vanish">ERROR</h1>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col">
      <h1 class="error cero">0</h1>
    </div>
  </div>
  <div class="row pb-4 blur">
    <div class="flotar">
      <div class="col text-center glass shine">
        <h1 class="shine">Página no Encontrada</h1>
      </div>
    </div>
  </div>
  <div class="row blur">
    <div class="flotar">
      <div class="col text-center">
        <a href="login" >Vuelve al Inicio</a>
      </div>
    </div>
  </div>
</div>
