.navbar{
    position:fixed;
    width: 100%;
}
.nav-link:hover{
    color: var(--color-primario);
    border-bottom: .5px solid var(--color-primario);
    border-top: .5px solid var(--color-primario);
}