<h1 class="pt-3">Proyectos</h1>
<div class="container">
  <div class="row gap-1 gap-md-3 py-2 justify-content-center" >
    <button
    type="button"
    class="btn col-6 glass colorPrimario text-white"
    (click)="nuevoProyecto()"
    *ngIf="isLogged"
    >
    <i class="bi bi-plus-square px-2"></i>
    Nuevo Proyecto</button>
  </div>
  <div class="row gap-1 gap-md-3 justify-content-center" >
    <div class="imge aparecer col-10 col-md-5 col-xl-3 card bg-dark glass text-white" *ngFor="let proyecto of misproyectos" style="width: 18rem;">
      
      <a (click)="goToLink(proyecto.link)" style="text-decoration:none; cursor: pointer;">
        <img  class="card-img-top" [src]="proyecto.imagen" alt="">
        <div class="card-body">
              <h3 class="card-title">{{ proyecto.nombre }}</h3>
              <p class="card-text">
              {{ proyecto.fecha | date: "dd/MM/yyyy" }}
              </p>        
              <p class="card-text">{{ proyecto.descripcion }}</p>
        </div>
      </a>
      <div class="card-body">  
      <button
      type="button"
      class="btn glass btn-danger mb-3"
      (click)="onDelete(proyecto.id)"
      *ngIf="isLogged"
      >
      <i class="bi bi-trash3-fill"></i>
      </button>
      <button
      type="button"
      class="btn colorPrimario glass text-white mb-3"
      (click)="openModal(proyecto)"
      *ngIf="isLogged"
      >
      <i class="bi bi-pencil-square"></i>
      </button>
      </div>
    </div>
  </div>
  <!--MODAL-->
  <div *ngFor="let proyecto of proyectosmodal" class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content glass">
        <div class="modal-header shine">
          <h5 class="modal-title" id="exampleModalLabel">Editar Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formulario" (ngSubmit)="onChange($event)" >
          <div class="modal-body">
            <input  type="hidden"
                    class="form-control"
                    name="id"
                    id="id"
                    formControlName="id"
                    [ngModel]="proyecto.id"
                    >
            <div class="mb-3">
              <label for="nombre" class="col-form-label">Nombre</label>
              <input  type="text"
                      class="form-control"
                      name="nombre"
                      id="nombre"
                      formControlName="nombre"
                      [ngModel]="proyecto.nombre"
                      >
            </div>
            <div class="mb-3">
              <label for="fecha" class="col-form-label">Fecha</label>
              <input  type="date"
                      class="form-control"
                      name="fecha"
                      id="fecha"
                      formControlName="fecha"
                      value="{{proyecto.fecha}}"
                      [ngModel]="proyecto.fecha"
                      >
            </div>
            <div class="mb-3">
                <label for="link" class="col-form-label">Link del Proyecto</label>
                <input  type="text"
                        class="form-control"
                        name="link"
                        id="link"
                        formControlName="link"
                        [ngModel]="proyecto.link">
            </div>
            <div class="mb-3">
              <label for="imagen" class="col-form-label">Imagen del Proyecto</label>
              <input  type="text"
                      class="form-control"
                      name="imagen"
                      id="imagen"
                      formControlName="imagen"
                      [ngModel]="proyecto.imagen">
            </div>
            <div class="mb-3">
              <label for="descripcion" class="col-form-label">Descripción</label>
              <input  type="textarea"
                      class="form-control"
                      name="descripcion"
                      id="descripcion"
                      formControlName="descripcion"
                      [ngModel]="proyecto.descripcion"
                      >
            </div>
          </div>
          <div class="modal-footer shine">
            <button type="button" class="btn btn-danger glass" data-bs-dismiss="modal">Cancelar</button>
            <button
            type="submit"
            class="btn colorPrimario glass text-white"
            data-bs-dismiss="modal"
            >
            <i class="bi bi-pencil-square"></i>
            Enviar
            </button>
          </div>
        </form>
      </div>  
    </div>
  </div>  
</div>