 <h1 class="py-5">Experiencia Laboral</h1>
 <div class="container">
  <div class="row gap-1 gap-md-3 justify-content-center" >
    <div class="aparecer col-md-5 col-xl-3 text-center box" *ngFor="let experiencia of misexperiencias">
      <div class="caja">
        <h3>{{ experiencia.puesto }}</h3>
        <p class="py-1 m-0">
          {{ experiencia.fechaInicio | date: "dd/MM/yyyy" }} -
          {{ experiencia.fechaFinal | date: "dd/MM/yyyy" }}
        </p>
        <img class="rounded img-fluid" [src]="experiencia.logo" alt="">
        
        <h5>{{ experiencia.empresa }}</h5>
        <p>{{ experiencia.actividades }}</p>
      </div>
    </div>
  </div>
</div>