<div class="containner">
    <div class="row">
        <div class="col-10 col-sm-8 col-md-6 mx-auto">
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Nunca compartiremos su email con alguien más</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Recordar Contraseña</label>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>
</div>
</div>
