.container-fluid{
    min-height: 100vh;
}
.contain{
    min-height: 100vh;
    width: 100vw;
    animation: arcoiris 20s linear infinite;
    background: radial-gradient(#ffffff5b, aqua);
}
@keyframes arcoiris {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}
i{
    color: var(--color-primario);
}