.aparecer{
    animation-name: aparece;
    animation-duration:2s;
    animation-iteration-count:initial;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes aparece {
from{
    opacity: 0;
    translate: 150%; 
}
75%{
    translate: -10%;
}
85%{
    translate: 5%;
}
95%{
    translate: -2%;
}
99%{
    translate: 1%;
}
}
.blur{
    animation-name: blurr;
    animation-duration:1.5s;
    animation-iteration-count:initial;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes blurr {
from{
    filter:blur(5px);
    scale: 1.2;
}
}
